* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("images/background.png");
    background-size: 100vw;
}

hr.line {
    border: 1px solid black;
    width: 85%;
}

.container {
    background-color: #CFAE6E;
    border: solid;
    border-radius: 20px;
    width: 35vw;

    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

header h1 {
    margin-top: -10px;
}

.menu h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.menu {
    text-align: center;
    /* border: solid; */
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    width: 7vw;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover, .daftar input:hover, .tambah a:hover {
    background-color: #9c8556;
    color: white;
}

textarea {
    height: 80px;
    width: 160px;
}

table {
    margin: auto;
}

fieldset {
    background-color: #CFAE6E;
    border: solid;
    border-radius: 10px;
    width: 21vw;
}

fieldset td {
    padding-top: 20px;
}

.replies {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}

.rep table {
    background-color: #CFAE6E;

    border: solid;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.messages td {
    border: solid;
    border-radius: 15px;
    background-color: #CFAE6E;

    padding: 10px;
    width: 10px;
}

.messages table {
    width: 30%;
    border-spacing: 30px;
}

.messages h3 {
    margin-top: 0px;
    margin-bottom: -20px;
}

.messages h4 {
    margin-top: 20px;
    font-weight: lighter;
}

.daftar {
    margin: 10px;
    display: grid;
    justify-content: center;
}

.daftar input, .tambah a {
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    width: 7vw;
    color: black;
    padding: 6px;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration: none;
}

nav, .total{
    text-align: center;
}

thead tr th {
    padding: 20px;
}